.header{
    margin: 0 49px 0 49px;
    width: auto;
    height: 52px;
    display: flex;
}

@media screen and (max-width: 984px) {
    .header{
        margin: 0 24px 0 24px;
    }
}

@media screen and (max-width: 568px) {
    .header {
        margin: 0 16px 0 16px;
        height: 42px;
    }
}

