.place__url-heading{
    font-family: "Inter", Arial, sans-serif;
    color: #AAAAAA;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    margin: 0 0 12px 0;
    letter-spacing: 2px;
}